
<% if current_user.try(:admin?) %>
  <h1>募集_admin</h1>
<% else %>
  <h1>募集一覧</h1>
<% end %>


  <div class="">
  <%= form_with url: recruitments_path, method: :get, local: true do |form| %>
  <%= form.label :game_title, "ゲームタイトル" %>
  <%= form.text_field :game_title, class: "form-control" %>

  <%= form.label :play_now, "いつ遊ぶ検索" %>
  <%= form.select :play_now, ["今遊ぶ","定期的に","あとで","いつか"],{include_blank:"選択"}, class:"form-control" %>

  <%= form.hidden_field :search, value:"true" %>
  <%= form.submit name="検索する" %>
  <% end %>

</div>

<p><%= notice %></p>
<h2>募集を作成する</h2>
<%= render 'form' %>
<table>
  <tr>
    <th>ユーザーネーム</th>
    <th>今遊ぶ？</th>
    <th>ゲームタイトル</th>
    <th>コメント</th>
    <th>機種</th>
    <th>画像</th>
    <th>オンライン？オフライン？</th>
    <th>目的</th>

  </tr>
<% @recruitments.each do |recruitment| %>
  <tr>
    <td><%= recruitment.user.name %></td>
    <td><%= recruitment.play_now %></td>
    <td><%= recruitment.game_title %></td>
    <td><%= recruitment.comment %></td>
    <td><%= recruitment.machine %></td>
    <td><%= image_tag recruitment.image.url %></td>
    <td><%= recruitment.on_off %></td>
    <td><%= recruitment.purpouse %></td>
    <td><%= link_to '詳細を確認する', recruitment_path(recruitment.id) %></td>
  </tr>
<% end %>
</table>
<br>
