<h1>募集詳細画面</h1>
<table>
    <tr>
        <th>今遊ぶ？</th>
        <th>ゲームタイトル</th>
        <th>コメント</th>
        <th>機種</th>
        <th>画像</th>
        <th>オンライン？オフライン？</th>
        <th>目的</th>
    </tr>
    <tr>
        <td><%= @recruitment.play_now %></td>
        <td><%= @recruitment.game_title %></td>
        <td><%= @recruitment.comment %></td>
        <td><%= @recruitment.machine %></td>
        <td><%= image_tag @recruitment.image.url %></td>
        <td><%= @recruitment.on_off %></td>
        <td><%= @recruitment.purpouse %></td>
    </tr>
</table>

<% if @recruitment.user_id == current_user.id %>
    <%= link_to "編集する", edit_recruitment_path(@recruitment.id) %>
    <%= link_to '募集を削除する', recruitment_path(@recruitment.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %>
<% end %>

<% unless @recruitment.user_id == current_user.id %>
  <% if @favorite.present? %>
    <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete %>
  <% else %>
    <%= link_to 'お気に入りする', favorites_path(recruitment_id: @recruitment.id), method: :post %>
  <% end %>
<% end %>


<h2>コメント一覧</h2>
<% @comments.each do |c| %>
  <div>
    <a href="/users/<%= current_user.id %>"><%= c.user.name %></a>
    <%= c.content %>
    <hr>
  </div>
<% end %>

<%= form_with(model: [@recruitment, @comment]) do |f| %>
  <%= f.text_field :content %>
  <br>
  <%= f.submit 'コメントする' %>
<% end %>


<p>
<%= link_to '募集一覧へ', recruitments_path %>
</p>