<div id="follow_form_<%= user.id %>">
  <% unless current_user.following?(user) %>
    <%= form_with(model: current_user.active_friendships.build(followed_id: user.id)) do |f| %>
      <%= f.hidden_field :followed_id %>
      <%= f.submit "フォロー",class:"btn btn-outline-primary followbtn" %>
    <% end %>
  <% else %>
    <%= form_with(model: current_user.active_friendships.find_by(followed_id: user.id), method: :delete ) do |f| %>
      <%= f.submit "アンフォロー",class:"btn btn-danger followbtn" %>
    <% end %>
  <% end %>
</div>