
<div class = "name-search">
  <%= form_with url: users_path, method: :get, local: true do |form| %>
    <div class="container">
    <div class="row">
    <div class = "col-xs-12 col-lg-8">
    <%= form.text_field :name, :placeholder => "ユーザー名" , class: "form-control" %>
    <%= form.hidden_field :search, value:"true" %>
    </div>
    <div class = "col-xs-12 col-lg-2">
    <%= form.submit name="検索する", class:"btn btn-primary"%>
    </div>
    </div>
    </div>
  <% end %>
</div>



<% provide(:title, 'All users') %>
<h1 class = "user-1">ユーザー一覧</h1>


<div>
  <ul class="users">
    <% @users.each do |user| %>
      <div class = user-show>
        <% unless current_user.name == user.name %>
          <% if user.icon.blank? %>
            <%= image_tag("user_icon.png") %>
          <%else%>
            <%= image_tag user.icon.to_s, class: "usershow-icon" %><br>
          <%end%>
          <h5><%= link_to user.name, user, class:"indexusername"%></h5>
          <div class = "userindexcomment"><%= user.comment %></div>
          <%= render 'follow_form', user: user %>
          <%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: :post,class:"message" %>
        <% end %>
      </div>
    <% end %>
  </ul>
</div>
<%= paginate @users %>