<div class = "reshowpage">
<h1><%= @user.name %>のプロフィール</h1>
<p><%= image_tag @user.icon.to_s, class: "usershow-icon"  %></p>
<p>プロフィール:</p><p> <%= @user.comment %></p>


<% if @user.id == current_user.id %>
    <%= link_to "プロフィールを編集", edit_user_registration_path(current_user.id) %>
<% end %>

<%= link_to "お気に入り一覧",  favorites_index_path(@user) %><br>


  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample03" aria-expanded="false" aria-controls="collapseExample">
    フォロー▼
  </button>

  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample02" aria-expanded="false" aria-controls="collapseExample">
    フォロワー▼
  </button>

  <div class="collapse" id="collapseExample03">
  <div class="card card-body">
    <% @user.following.each do |user| %>
      <table>
        <tr>
          <% unless @user.name == user.name %>
            <td><%= user.name %></td>
            <td><%= link_to '詳細', user_path(user) %></td>
            <td><%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: :post %></td>
          <% end %>
          </tr>
      </table>
    <% end %>
  </div>
</div>


<div class="collapse" id="collapseExample02">
  <div class="card card-body">
  <% @user.followers.each do |user| %>
    <table>
      <tr>
        <% unless @user.name == user.name %>
          <td><%= user.name %></td>
          <td><%= link_to '詳細', user_path(user) %></td>
          <td><%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: :post %></td>
        <% end %>
      </tr>
    </table>
  <% end %>
  </div>
</div>


<h4>過去の投稿</h4>

<% @user.recruitments.each do |recruitment| %>
  <div>
  <div class = "reshowkakoi">
    <div class = "showleftmargin">
      <p><%= recruitment.game_title %></p>
      <p><%= recruitment.play_now %></p>
      <p><%= recruitment.machine %></p>
      <p><%= recruitment.on_off %></p>
      <p><%= recruitment.purpouse %></p>
      <p><%= recruitment.comment %></p>
      <p><%= image_tag recruitment.image.to_s, class: "imgsize" %></p>
      <p><%= link_to '詳細を確認する', recruitment_path(recruitment.id) %></p>
  </div>
  </div>
  </div>
<% end %>




<div class="collapse" id="collapseExample03">
  <div class="card card-body">
    <% @user.following.each do |user| %>
      <table>
        <tr>
          <% unless @user.name == user.name %>
            <td><%= user.name %></td>
            <td><%= link_to '詳細', user_path(user) %></td>
            <td><%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: :post %></td>
          <% end %>
          </tr>
      </table>
    <% end %>
  </div>
</div>

</div>
