<h1><%= @user.name %>のプロフィール</h1>
<p>アイコン<%= image_tag @user.icon.to_s %></p>
<p>名前 : <%= @user.name %></p>
<p>メールアドレス : <%= @user.email %></p>
<p>プロフィール : <%= @user.comment %></p>


<% if @user.id == current_user.id %>
    <%= link_to "プロフィールを編集", edit_user_registration_path(current_user.id) %>
<% end %>


<table>
  <tr>
    <th>ユーザーネーム</th>
    <th>今遊ぶ？</th>
    <th>ゲームタイトル</th>
    <th>コメント</th>
    <th>機種</th>
    <th>画像</th>
    <th>オンライン？オフライン？</th>
    <th>目的</th>
  </tr>
<% @user.recruitments.each do |recruitment| %>
  <tr>
    <td><%= recruitment.user.name %></td>
    <td><%= recruitment.play_now %></td>
    <td><%= recruitment.game_title %></td>
    <td><%= recruitment.comment %></td>
    <td><%= recruitment.machine %></td>
    <td><%= image_tag recruitment.image.to_s %></td>
    <td><%= recruitment.on_off %></td>
    <td><%= recruitment.purpouse %></td>
    <td><%= link_to '詳細を確認する', recruitment_path(recruitment.id) %></td>
  </tr>
<% end %>
</table>

<%= link_to "お気に入り一覧",  favorites_index_path(@user) %><br>


  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample03" aria-expanded="false" aria-controls="collapseExample">
    フォロー
  </button>

  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample02" aria-expanded="false" aria-controls="collapseExample">
    フォロワー
  </button>

<div class="collapse" id="collapseExample03">
  <div class="card card-body">
    <% @user.following.each do |user| %>
      <table>
        <tr>
          <% unless @user.name == user.name %>
            <td><%= user.name %></td>
            <td><%= link_to '詳細', user_path(user) %></td>
            <td><%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: :post %></td>
          <% end %>
          </tr>
      </table>
    <% end %>
  </div>
</div>






<div class="collapse" id="collapseExample02">
  <div class="card card-body">
  <% @user.followers.each do |user| %>
    <table>
      <tr>
        <% unless @user.name == user.name %>
          <td><%= user.name %></td>
          <td><%= link_to '詳細', user_path(user) %></td>
          <td><%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: :post %></td>
        <% end %>
      </tr>
    </table>
  <% end %>
  </div>
</div>

