<div class = "reshowpage">
  <h1><%= @user.name %>のプロフィール</h1>
  <% if @user.icon.blank? %>
    <%= image_tag("user_icon.png") %>
  <%else%>
      <%= image_tag @user.icon.to_s, class: "usershow-icon" %><br>
  <%end%>
  <p><strong>プロフィール:</strong></p><p><%= simple_format(@user.comment) %></p>

  <% unless @user.id == current_user.id %>
    <%= render partial: 'follow_form', locals: { user: @user },class:"followbtn" %>
  <% else %>
    <%= link_to "プロフィールを編集", edit_user_registration_path(current_user.id),class:"btn btn-outline-secondary" %><br>
  <% end %>
  <%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: :post,class:"message" %>
  <%= link_to "お気に入り一覧",  favorites_index_path(@user) %><br>


    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample03" aria-expanded="false" aria-controls="collapseExample">
      フォロー▼
    </button>

    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample02" aria-expanded="false" aria-controls="collapseExample">
      フォロワー▼
    </button>

    <div class="collapse" id="collapseExample03">
    <div class="card card-body">
      <% @user.following.each do |user| %>
        <table>
          <tr>
            <% unless @user.name == user.name %>
              <td><%= link_to user.name, user_path(user), class:"indexusername" %></td>
              <td><%= render partial: 'follow_form', locals: { user: user } %></td>
              <td><%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: :post %></td>
            <% end %>
          </tr>
        </table>
      <% end %>
    </div>
  </div>


  <div class="collapse" id="collapseExample02">
    <div class="card card-body">
    <% @user.followers.each do |user| %>
      <table>
        <tr>
          <% unless @user.name == user.name %>
            <td><%= link_to user.name, user_path(user), class:"indexusername" %></td>
            <td><%= render partial: 'follow_form', locals: { user: user } %></td>
            <td><%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: :post %></td>
          <% end %>
        </tr>
      </table>
    <% end %>
    </div>
  </div>


  <h4 class = "h4-up-space">過去の投稿</h4>

  <% @user.recruitments.each do |recruitment| %>
    <div class = "reshowkakoi">
      <div class="container">
        <div class="row">
          <div class = "col-xs-12 col-lg-3">
            <div class = "waku-up-space"></div>
            <p class = "p-space"><strong>ゲーム:</strong><br><%= recruitment.game_title %></p>
            <p class = "p-space"><strong>今遊ぶ？:</strong><%= recruitment.play_now %></p>
            <p class = "p-space"><strong>機種:</strong><%= recruitment.machine %></p>
            <p class = "p-space"><strong>オン？オフ？:</strong><%= recruitment.on_off %></p>
            <p class = "p-space"><strong>目的:</strong><%= recruitment.purpouse %></p>
          </div>
          <div class = "col-xs-12 col-lg-4">
            <div class = "waku-up-space"></div>
            <p class = "p-space"><strong>コメント:<br></strong><%= simple_format(recruitment.comment) %></p>
          </div>
          <div class = "col-xs-12 col-lg-5">
            <div class = "waku-up-space"></div>
            <% if recruitment.image.blank? %>
            <%else%>
                <p><%= image_tag recruitment.image.to_s, class: "imgsize" %></p>
            <%end%>

            <% if recruitment.youtube_url.blank? %>
            <%else%>
                <iframe width="289" height="170" src="https://www.youtube.com/embed/<%= recruitment.youtube_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <%end%>
          </div>
        </div>
        <p><%= link_to '詳細を確認する', recruitment_path(recruitment.id) %></p>
      </div>
    </div>
  <% end %>




  <div class="collapse" id="collapseExample03">
    <div class="card card-body">
      <% @user.following.each do |user| %>
        <table>
          <tr>
            <% unless @user.name == user.name %>
              <td><%= user.name %></td>
              <td><%= link_to '詳細', user_path(user) %></td>
              <td><%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: :post %></td>
            <% end %>
            </tr>
        </table>
      <% end %>
    </div>
  </div>

</div>
