

<div class = "login-page border">

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field-01">
    <h2>ログイン</h2>
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control' %>
    </div>

    <div class="field-01">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", class:'form-control' %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions" >
      <%= f.submit  "ログイン", class: 'btn btn-primary' %>
    </div>
    <%= f.hidden_field :email, value: 'test@g.c' %>
    <%= f.hidden_field :password, value: 'test@g.c' %>
    <p>⬇︎</p>
    <%= f.submit 'テストユーザーでログイン', class: 'btn btn-success' %>
  <% end %>


  <hr>

  <%= render "devise/shared/links" %>
</div>

